h1 {
  font-size: 18px;
  font-weight: bold;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  font-weight: bold;
}
h6 {
  font-size: 14px;
}
.header-color {
  background: #f0f0ff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0ff), color-stop(100%, #d6d6ff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f0f0ff 0%, #d6d6ff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  border-bottom: 2px solid #bdbdff;
}
.warning-glyph {
  content: '\26A0';
}
.button {
  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
}
.button:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.clickable {
  cursor: pointer;
}
.rounded-button {
  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.rounded-button:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.navigation-top {
  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
  cursor: default;
}
.navigation-top:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.navigation-top:first-child {
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
.navigation-top:last-child {
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.navigation-top:hover {
  -webkit-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
.navigation-dropdown {
  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
  border-top: 0;
}
.navigation-dropdown:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.navigation-dropdown:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
.navigation-dropdown:hover {
  z-index: 101;
}
.editable {
  cursor: pointer;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-size: 14px;
  font-family: Verdana, Arial;
  background-color: #d6d6ff;
  color: #292929;
}
button {
  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
button:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
input {
  background-color: #ffffff;
  border: 1px solid #292929;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
input[type="text"],
input[type="search"],
input[type="password"] {
  width: 100%;
  padding: 1% 2%;
}
input:focus {
  background-color: #ffffff;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
textarea {
  margin: 0;
  padding: 5px;
  background-color: #f0f0ff;
  color: #292929;
  resize: vertical;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #292929;
}
a {
  text-decoration: none;
  color: #c0deef;
}
a:hover {
  color: #98c9e5;
}
table.data {
  width: 100%;
  text-align: left;
}
table.data thead {
  background: #1f6993;
  /* Old browsers */

  background: -moz-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f6993), color-stop(100%, #164b69));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #1f6993 0%, #164b69 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #95cbe9;
}
table.data th,
table.data td {
  padding: 5px;
  vertical-align: middle;
}
table.data th > *,
table.data td > * {
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: middle;
}
table.data th > *:first-child,
table.data td > *:first-child {
  margin-left: 0;
}
table.data th > *:last-child,
table.data td > *:last-child {
  margin-right: 0;
}
table.data th.post-buttons,
table.data td.post-buttons {
  text-align: right;
}
table.data .editable:hover {
  text-shadow: 0 0 5px #2e84b5, 0 0 5px #2e84b5, 0 0 5px #2e84b5, 0 0 5px #2e84b5;
  -moz-text-shadow: 0 0 5px #2e84b5, 0 0 5px #2e84b5, 0 0 5px #2e84b5, 0 0 5px #2e84b5;
  -webkit-text-shadow: 0 0 5px #2e84b5, 0 0 5px #2e84b5, 0 0 5px #2e84b5, 0 0 5px #2e84b5;
}
table.data tbody tr {
  color: #292929;
}
table.data tbody tr:nth-child(odd) {
  background-color: #5ba8d5;
}
table.data tbody tr:nth-child(even) {
  background-color: #83bee0;
}
table.data tbody tr.dummy {
  background-color: #acd3ea;
  color: #5c5c5c;
}
table.data tbody tr:hover {
  background-color: #3393ca;
}
.no-data {
  margin-top: 15px;
  display: block;
  width: 100%;
  text-align: center;
  color: #292929;
  font-size: 16px;
}
.logout-icon {
  background: url('../images/exit.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.logout-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.profile-icon {
  background: url('../images/profile.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.profile-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.funnel-filter-icon {
  background: url('../images/funnel.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.funnel-filter-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.sort-icon {
  background: url('../images/sort.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.sort-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.headerSortDown > .sort-icon {
  background: url('../images/sort-down.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.headerSortDown > .sort-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.headerSortUp > .sort-icon {
  background: url('../images/sort-up.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.headerSortUp > .sort-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.funnel-filter-icon {
  background: url('../images/funnel.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.funnel-filter-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.remove-icon {
  background: url('../images/remove.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.remove-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.become-icon {
  background: url('../images/become.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.become-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.download-icon {
  background: url('../images/download.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.download-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.archive-icon {
  background: url('../images/archive.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.archive-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.has-no-file,
.has-no-project {
  opacity: 0.5;
}
.bulk-download-icon {
  background: url('../images/bulk-download.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.bulk-download-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.export-icon {
  background: url('../images/export.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.export-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.upload-icon {
  background: url('../images/upload.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.upload-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.upload-icon.has-file {
  background: url('../images/reupload.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.upload-icon.has-file:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.email-icon {
  background: url('../images/email.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.email-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.email-icon.notified {
  opacity: 0.5;
}
.refresh-icon {
  background: url('../images/refresh.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.refresh-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.expand-icon {
  background: url('../images/expand.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.expand-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.contract-icon {
  background: url('../images/contract.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.contract-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.finished-icon {
  background: url('../images/finished.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.finished-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.ongoing-icon {
  background: url('../images/ongoing.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.ongoing-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.accept-icon.undefined {
  background: url('../images/accepted.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.5;
}
.accept-icon.undefined:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.accept-icon.accepted {
  background: url('../images/accepted.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.accept-icon.accepted:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.accept-icon.rejected {
  background: url('../images/rejected.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.accept-icon.rejected:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.translation-icon {
  background: url('../images/translation.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.translation-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.packaging-icon {
  background: url('../images/packaging.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.packaging-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.typesetting-icon {
  background: url('../images/typesetting.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.typesetting-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.writing-icon {
  background: url('../images/writing.png') center center no-repeat transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.writing-icon:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
.checkbox {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #292929;
  width: 12px;
  height: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #d6d6ff;
}
.checkbox.checked,
.checkbox[checked="checked"] {
  background-color: #f0f0ff;
}
.checkbox.checked:after,
.checkbox[checked="checked"]:after {
  color: #292929;
  content: "\2714";
  display: block;
  text-align: center;
}
.checkbox:hover {
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
  background-color: #ffffff;
}
.deadline.past-due:after {
  color: darkred;
  margin-left: 4px;
  content: '\26A0';
}
.formula {
  margin-top: 10px;
  padding: 2%;
}
.formula .buttons {
  margin-top: 5px;
}
.formula .buttons button {
  margin-left: 2px;
  margin-right: 2px;
}
.formula .buttons button:first-child {
  margin-left: 0;
}
.formula .buttons button:last-child {
  margin-right: 0;
}
.formula .errors {
  color: red;
  font-size: 10px;
}
.formula .errors:before {
  content: '\26A0';
  margin-right: 4px;
}
.formula table {
  width: 100%;
}
.formula table th {
  text-align: left;
}
.formula table td {
  padding: 2px 0;
  text-align: right;
}
.formula table td input[type="text"],
.formula table td input[type="password"] {
  padding: 1% 2%;
  width: 94%;
}
.formula.inline {
  margin: 0;
  padding: 0;
}
.formula.inline .buttons {
  margin: 0 0 0 5px;
  display: inline-block;
}
.formula.inline div {
  display: inline-block;
  vertical-align: middle;
}
.formula.inline table {
  display: inline-block;
  width: auto;
}
.formula.inline table th {
  display: none;
}
.formula.inline table tr {
  background-color: transparent !important;
}
.formula.inline table td {
  text-align: left;
  padding: 0;
}
.formula.inline table td * {
  margin-left: 0;
}
.bubble {
  position: absolute;
  padding: 5px;
  left: 10px;
  background-color: #2975a1;
  z-index: 100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #143a50;
  box-shadow: 0 0 10px 1px #292929;
  -moz-box-shadow: 0 0 10px 1px #292929;
  -webkit-box-shadow: 0 0 10px 1px #292929;
}
.bubble:after {
  position: absolute;
  content: '';
  left: -9px;
  top: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 9px 5px 0;
  border-color: transparent #2975a1 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #2975a1 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.bubble:before {
  position: absolute;
  content: '';
  left: -10px;
  top: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 9px 5px 0;
  border-color: transparent #143a50 transparent transparent;
  line-height: 0px;
  _border-color: #000000 #143a50 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.bubble .date-span {
  min-width: 265px;
}
.bubble .option {
  padding: 0 0 5px 5px;
}
.bubble .option * {
  vertical-align: middle;
}
.lightbox {
  background-color: #d6d6ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #292929;
}
.lightbox .window {
  position: relative;
  width: 350px;
  min-height: 100px;
}
.lightbox .window.dialog .title {
  background: #1f6993;
  /* Old browsers */

  background: -moz-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1f6993), color-stop(100%, #164b69));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #1f6993 0%, #164b69 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #1f6993 0%, #164b69 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

}
.lightbox .window.dialog .title span {
  color: #d6d6ff;
}
.lightbox .window.error .title {
  background: #cd2635;
  /* Old browsers */

  background: -moz-linear-gradient(top, #cd2635 0%, #a21e2a 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cd2635), color-stop(100%, #a21e2a));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #cd2635 0%, #a21e2a 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #cd2635 0%, #a21e2a 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #cd2635 0%, #a21e2a 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #cd2635 0%, #a21e2a 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

}
.lightbox .window.error .title span {
  color: #d6d6ff;
}
.lightbox .window .title {
  width: 96%;
  padding: 2%;
  -webkit-border-top-left-radius: 2px;
  -o-border-top-left-radius: 2px;
  -ms-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -o-border-top-right-radius: 2px;
  -ms-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
  border-bottom: 1px solid #292929;
}
.lightbox .window .title span {
  font-weight: bold;
  font-size: 16px;
}
.lightbox .window .contents {
  width: 96%;
  padding: 2%;
}
.lightbox .window .contents span {
  display: block;
  background-color: #f0f0ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
}
.lightbox .window .contents .comment-input {
  width: 324px;
  height: 65px;
}
.lightbox .window .contents .formula {
  padding: 0;
  margin: 0;
}
.lightbox .window .buttons {
  width: 96%;
  padding: 2%;
  padding-top: 0;
  bottom: 0;
  text-align: center;
}
.lightbox .window .buttons button {
  margin-left: 2px;
  margin-right: 2px;
}
.lightbox .window .buttons button:first-child {
  margin-left: 0;
}
.lightbox .window .buttons button:last-child {
  margin-right: 0;
}
.profile-page {
  margin-top: 3%;
  text-align: center;
}
.profile-page .wrapper {
  display: inline-block;
  padding: 10px;
  background-color: #5ba8d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #2975a1;
}
.profile-page .formula {
  vertical-align: top;
  padding: 0;
  margin: 0;
  display: inline-block;
  max-width: 500px;
}
.profile-page .formula td {
  padding: 0;
}
.profile-page .formula .buttons {
  text-align: right;
}
.profile-page .gravatar {
  vertical-align: top;
  display: inline-block;
  padding: 2px 0 0 20px;
}
.profile-page .gravatar img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #292929;
}
#login {
  padding-top: 5%;
  width: 260px;
  margin: 0 auto;
}
#login .logo {
  background: url('../images/logo-login.png') center center no-repeat transparent;
  width: 100%;
  height: 58px;
}
#login .buttons {
  text-align: right;
}
.page-header {
  position: relative;
  height: 24px;
  width: 99%;
  padding: 0.5%;
  background: #f0f0ff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0ff), color-stop(100%, #d6d6ff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f0f0ff 0%, #d6d6ff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  border-bottom: 2px solid #bdbdff;
}
.page-header button {
  margin-left: 2px;
  margin-right: 2px;
}
.page-header button:first-child {
  margin-left: 0;
}
.page-header button:last-child {
  margin-right: 0;
}
.page-header .search-box {
  margin-top: -0.1%;
  float: right;
  display: inline;
}
.page-header .title {
  width: 100%;
  left: 0;
  top: 30%;
  pointer-events: none;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}
.page-header .gravatar {
  top: 2px;
  position: absolute;
  right: 2px;
}
.page-header .gravatar img {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#header {
  width: 100%;
  height: 50px;
  position: relative;
  background: #f0f0ff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0f0ff), color-stop(100%, #d6d6ff));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #f0f0ff 0%, #d6d6ff 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #f0f0ff 0%, #d6d6ff 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  border-bottom: 2px solid #bdbdff;
}
#header .logo {
  position: absolute;
  width: 36px;
  height: 41px;
  top: 5px;
  left: 15px;
  background: url('../images/logo-header.png') center center no-repeat transparent;
}
#header .menu {
  position: absolute;
  top: 14px;
  width: 100%;
  text-align: center;
  vertical-align: top;
}
#header .menu nav {
  display: inline-block;
}
#header .menu nav li {
  z-index: 100;
  width: 160px;
}
#header .menu nav li a {
  display: block;
  width: 100%;
}
#header .menu nav > ul {
  display: inline-block;
}
#header .menu nav > ul > li {
  vertical-align: top;
  display: inline-block;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
  cursor: default;
}
#header .menu nav > ul > li:first-child {
  margin-left: 0;
}
#header .menu nav > ul > li:last-child {
  margin-right: 0;
}
#header .menu nav > ul > li:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
#header .menu nav > ul > li:first-child {
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}
#header .menu nav > ul > li:last-child {
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
#header .menu nav > ul > li:hover {
  -webkit-border-bottom-left-radius: 0px;
  -o-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -o-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
}
#header .menu nav > ul > li > ul {
  display: none;
}
#header .menu nav > ul > li:hover > ul {
  top: 23px;
  left: -1px;
  display: block;
  position: absolute;
}
#header .menu nav > ul > li:hover > ul li {
  /* Old browsers */

  /* FF3.6+ */

  /* Chrome,Safari4+ */

  /* Chrome10+,Safari5.1+ */

  /* Opera 11.10+ */

  /* IE10+ */

  /* W3C */

  /* IE6-9 */

  background: #2975a1;
  /* Old browsers */

  background: -moz-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2975a1), color-stop(100%, #1f5778));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #2975a1 0%, #1f5778 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #2975a1 0%, #1f5778 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@first-color', endColorstr='@second-color', GradientType=0);
  /* IE6-9 */

  color: #c0deef;
  padding: 4px 8px;
  text-align: center;
  border: 1px solid #143a50;
  cursor: pointer;
  border-top: 0;
}
#header .menu nav > ul > li:hover > ul li:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
#header .menu nav > ul > li:hover > ul li:hover {
  background-color: #3393ca;
  color: #98c9e5;
  box-shadow: 0 0 10px 1px #2e84b5;
  -moz-box-shadow: 0 0 10px 1px #2e84b5;
  -webkit-box-shadow: 0 0 10px 1px #2e84b5;
}
#header .menu nav > ul > li:hover > ul li:last-child {
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}
#header .menu nav > ul > li:hover > ul li:hover {
  z-index: 101;
}
#header .icon-buttons {
  position: absolute;
  top: 20px;
  right: 15px;
}
#header .icon-buttons a {
  margin-left: 2px;
  margin-right: 2px;
}
#header .icon-buttons a:first-child {
  margin-left: 0;
}
#header .icon-buttons a:last-child {
  margin-right: 0;
}
div#loader {
  width: 100%;
  height: 100%;
  z-index: 99999999;
  position: fixed;
  display: none;
  background: url('../images/loading.gif') center center no-repeat transparent;
  opacity: 0.5;
}
.loading #loader {
  display: block;
}
span.status {
  margin-left: 25px;
}
