// COLORS 

@black: #292929;
@white: #D6D6FF;
@light-blue: #2975a1;
@dark-blue: #164b69;

@text-color: @black;
@background-color: @white;
@input-color: lighten(@white, 10%);
@anchor-color: lighten(@light-blue, 45%);
@button-color: @light-blue;
@window-title-color: @dark-blue;
@table-header-color: @dark-blue;
@table-row-color: lighten(@light-blue, 20%);
@glow-color: lighten(@light-blue, 5%);

// STRINGS

@images-url: '../images';

// FONT SIZES

@tiny-font: 10px;
@small-font: 12px;
@medium-font: 14px;
@big-font: 16px;
@huge-font: 18px;

h1 { 
	font-size: @huge-font;
	font-weight: bold; 
}
h2 { font-size: @huge-font }
h3 { 
	font-size: @big-font; 
	font-weight: bold; 
}
h4 { font-size: @big-font }
h5 {
	font-size: @medium-font;
	font-weight: bold;
}
h6 { font-size: @medium-font }

// MIXINS

	// Colors, glows and gradients

.h-gradient(@first-color, @second-color) {
	background: @first-color; /* Old browsers */
	background: -moz-linear-gradient(left,  @first-color 0%, @second-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,@first-color), color-stop(100%,@second-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  @first-color 0%,@second-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  @first-color 0%,@second-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  @first-color 0%,@second-color 100%); /* IE10+ */
	background: linear-gradient(to right,  @first-color 0%,@second-color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@first-color', endColorstr='@second-color',GradientType=1 ); /* IE6-9 */
}

.v-gradient(@first-color, @second-color) {
	background: @first-color; /* Old browsers */
	background: -moz-linear-gradient(top,  @first-color 0%, @second-color 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@first-color), color-stop(100%,@second-color)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  @first-color 0%,@second-color 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  @first-color 0%,@second-color 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  @first-color 0%,@second-color 100%); /* IE10+ */
	background: linear-gradient(to bottom,  @first-color 0%,@second-color 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@first-color', endColorstr='@second-color',GradientType=0 ); /* IE6-9 */
}

.header-color {
	.v-gradient(lighten(@white,5%), @white);
	border-bottom: 2px solid darken(@white,5%);
}


.glow (@color: @glow-color) {
	box-shadow: 0 0 10px 1px @color;
	-moz-box-shadow: 0 0 10px 1px @color;
	-webkit-box-shadow: 0 0 10px 1px @color;
}

.text-glow (@color: @glow-color) {
	text-shadow: 0 0 5px @color, 0 0 5px @color, 0 0 5px @color, 0 0 5px @color;
	-moz-text-shadow: 0 0 5px @color, 0 0 5px @color, 0 0 5px @color, 0 0 5px @color;
	-webkit-text-shadow: 0 0 5px @color, 0 0 5px @color, 0 0 5px @color, 0 0 5px @color;
}

	// Icons, glyphs and CSS sprites

.warning-glyph {
	content: '\26A0';
}

.icon (@image-filename, @width: 16px, @height: 16px, @color: @glow-color) {
	.background-image(@image-filename);
	.rounded-corner(2px);
	display: inline-block;
	width: @width;
	height: @height;
	&:hover { .glow(@color) }
}

.left-arrow (@left, @top, @color) {
	position: absolute;
	content: '';
	left: @left;
	top: @top;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 9px 5px 0;
	border-color: transparent @color transparent transparent;
	line-height: 0px;
	_border-color: #000000 @color #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

	// Borders and Corners

.border (@thickness: 1px, @color: @black) {
	border: @thickness solid @color;
}

.rounded-corner-top-left (@radius: 5px) {
	-webkit-border-top-left-radius: @radius;
	-o-border-top-left-radius: @radius;
	-ms-border-top-left-radius: @radius;
	-moz-border-radius-topleft: @radius;
	border-top-left-radius: @radius;
}

.rounded-corner-top-right (@radius: 5px) {
	-webkit-border-top-right-radius: @radius;
	-o-border-top-right-radius: @radius;
	-ms-border-top-right-radius: @radius;
	-moz-border-radius-topright: @radius;
	border-top-right-radius: @radius;
}

.rounded-corner-bottom-left (@radius: 5px) {
	-webkit-border-bottom-left-radius: @radius;
	-o-border-bottom-left-radius: @radius;
	-ms-border-bottom-left-radius: @radius;
	-moz-border-radius-bottomleft: @radius;
	border-bottom-left-radius: @radius;
}

.rounded-corner-bottom-right (@radius: 5px) {
	-webkit-border-bottom-right-radius: @radius;
	-o-border-bottom-right-radius: @radius;
	-ms-border-bottom-right-radius: @radius;
	-moz-border-radius-bottomright: @radius;
	border-bottom-right-radius: @radius;
}


.rounded-corner-left (@radius: 5px) {
	.rounded-corner-top-left(@radius);
	.rounded-corner-bottom-left(@radius);
}

.rounded-corner-right (@radius: 5px) {
	.rounded-corner-top-right(@radius);
	.rounded-corner-bottom-right(@radius);
}


.rounded-corner-top (@radius: 5px) {
	.rounded-corner-top-left(@radius);
	.rounded-corner-top-right(@radius);
}

.rounded-corner-bottom (@radius: 5px) {
	.rounded-corner-bottom-left(@radius);
	.rounded-corner-bottom-right(@radius);
}

.rounded-corner (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.inter-margin(@margin: 2px) {
	margin-left: @margin;
	margin-right: @margin;
	&:first-child { margin-left: 0 }
	&:last-child { margin-right: 0 }
}

.inter-margin-vertical(@margin: 2px) {
	margin-top: @margin;
	margin-bottom: @margin;
	&:first-child { margin-top: 0 }
	&:last-child { margin-bottom: 0 }
}

.background-image(@filename) {
	background: url('@{images-url}/@{filename}') center center no-repeat transparent;
}

.centered-div(@width: 300px) {
	width: @width;	
	margin: 0 auto;
}

.padding-percentage(@percentage: 0.02) {
	width: percentage(1 - (@percentage * 2));
	padding: percentage(@percentage);
}

.window-title-color(@color) {
	.title { .v-gradient(lighten(@color,10%), @color);
		span { color: @white }
	}
}

.button {
	.v-gradient(@button-color,darken(@button-color,10%));
	color: @anchor-color;
	padding: 4px 8px;
	text-align: center;
	.border(1px,darken(@button-color,20%));
	.clickable;
	&:hover { 
		background-color: lighten(@button-color, 10%);
		color: darken(@anchor-color, 10%);
		.glow;
	}
}

	// Other stuff

.clickable {
	cursor: pointer;
}

.rounded-button {
	.button;
	.rounded-corner;
}

.navigation-top {
	.button;
	cursor: default;
	&:first-child { .rounded-corner-left }
	&:last-child { .rounded-corner-right }
	&:hover { .rounded-corner-bottom(0px) }
}

.navigation-dropdown {
	.button;
	border-top: 0;
	&:first-child { } // Bug? If I don't define a style for first-child, the last-child style is not applied
	&:last-child { .rounded-corner-bottom }
	&:hover { z-index: 101; }
}

.editable {
	.clickable;
}

// ELEMENT STYLES

html { height: 100% }

body {
	height: 100%;
	font-size: @medium-font;
	font-family: Verdana, Arial;
	background-color: @background-color;
	color: @black;
} 

button { .rounded-button }

input {
	background-color: @input-color;
	.border;
	.rounded-corner;
	&[type="text"],
	&[type="search"],
	&[type="password"] {
		width: 100%;
		padding: 1% 2%;
	}
	&:focus { 
		background-color: lighten(@input-color, 10%);
		.glow
	}
}

textarea {
	margin: 0;
	padding: 5px;
	background-color: lighten(@white,5%);
	color: @black;
	resize: vertical;
	.rounded-corner;
	.border;
}

a {
	text-decoration: none;
	color: @anchor-color;
	&:hover { color: darken(@anchor-color, 10%) }
}

// DATA TABLES

table.data {
	width: 100%;
	text-align: left;
	thead {
		.v-gradient(lighten(@table-header-color, 10%), @table-header-color);
		color: lighten(@table-header-color, 50%);
	}
	th, td { 
		padding: 5px;
		vertical-align: middle;
		>* { 
			.inter-margin(2px);
			vertical-align: middle;
		}
		&.post-buttons {
			text-align: right;
		}
	}
	.editable:hover { .text-glow }
	tbody tr {
		color: @black;
		&:nth-child(odd) { background-color: @table-row-color }
		&:nth-child(even) { background-color: lighten(@table-row-color, 10%) }
		&.dummy {
			background-color: lighten(@table-row-color, 20%);
			color: lighten(@black, 20%);
		}
		&:hover { background-color: darken(@table-row-color, 10%) }
	}
}

.no-data {
	margin-top: 15px;
	display: block;
	width: 100%;
	text-align: center;
	color: @black;
	font-size: 16px;
}

// ICONS

.logout-icon { .icon("exit.png") }

.profile-icon { .icon("profile.png") }

.funnel-filter-icon { .icon("funnel.png") }

.sort-icon { 
	.icon("sort.png"); 
	.clickable;
}

.headerSortDown > .sort-icon { .icon("sort-down.png") }
.headerSortUp > .sort-icon { .icon("sort-up.png") }

.funnel-filter-icon { .icon("funnel.png") }

.remove-icon { .icon("remove.png") }

.become-icon { .icon("become.png") }

.download-icon { .icon("download.png") }

.archive-icon { .icon("archive.png") }

.has-no-file, .has-no-project { opacity: 0.5 }

.bulk-download-icon { .icon("bulk-download.png") }

.export-icon { .icon("export.png") }

.upload-icon { 
	.icon("upload.png"); 
	&.has-file { .icon("reupload.png") }
}

.email-icon { 
	.icon("email.png");
	&.notified { opacity: 0.5}
}

.refresh-icon { .icon("refresh.png") }

.expand-icon { .icon("expand.png") }

.contract-icon { .icon("contract.png") }

.finished-icon {
	.icon("finished.png"); 
	.clickable
}

.ongoing-icon { 
	.icon("ongoing.png");
	.clickable
}

.accept-icon { 
	&.undefined { 
		.icon("accepted.png");
		opacity: 0.5;
	}
	&.accepted { .icon("accepted.png") }
	&.rejected { .icon("rejected.png") }
}

.translation-icon { .icon("translation.png") }

.packaging-icon { .icon("packaging.png") }

.typesetting-icon { .icon("typesetting.png") }

.writing-icon { .icon("writing.png") }

// GENERAL STYLES

.checkbox {
	display: inline-block;
	.clickable;
	.border;
	width: 12px;
	height: 12px;
	.rounded-corner(2px);
	background-color: @white;
	&.checked , &[checked="checked"] {
		background-color: lighten(@white,5%);
		&:after {
			color: @black;
			content: "\2714";
			display: block;
			text-align: center;
		}
	}
	&:hover {
		.glow;
		background-color: lighten(@white,20%);
	}

}

.deadline.past-due:after {
	color: darkred;
	margin-left: 4px;
	.warning-glyph;
}

// FORMULA

.formula {
	margin-top: 10px;
	padding: 2%;
	.buttons {
		margin-top: 5px; 
		button { .inter-margin }
	}
	.errors {
		color: red;
		font-size: @tiny-font;
		&:before { 
			.warning-glyph;
			margin-right: 4px }
	}
	table {
		width: 100%;
		th { text-align: left }
		td {
			padding: 2px 0;
			text-align: right;
			input[type="text"], input[type="password"] {
				padding: 1% 2%;
				width: 94%;
			}
		}
	}
	&.inline {
		margin: 0;
		padding: 0;
		.buttons { 
			margin: 0 0 0 5px;
			display: inline-block;
		}
		div {
			display: inline-block;
			vertical-align: middle;
		}
		table {
			display: inline-block;
			width: auto;
			th { display: none }
			tr { background-color: transparent !important; }
			td { 
				text-align: left;
				padding: 0;
				* { margin-left: 0 }
			}
		}
	}
}

// DIALOGS

.bubble {
	position: absolute;
	padding: 5px;
	left: 10px;
	background-color: @button-color;
	z-index: 100;
	.rounded-corner;
	.border(1px,darken(@button-color,20%));
	.glow(@black);
	&:after { .left-arrow(-9px, 5px, @button-color) }
	&:before { .left-arrow(-10px, 5px, darken(@button-color,20%)) }
	.date-span { min-width: 265px }
	.option {
		padding: 0 0 5px 5px;
		* { vertical-align: middle }
	}
}

.lightbox {
	background-color: @background-color;
	.rounded-corner;
	.border;
	.window {
		&.dialog { .window-title-color(@window-title-color) }
		&.error { .window-title-color(mix(@window-title-color,#FF0000,40%)) }
		position: relative;
		width: 350px;
		min-height: 100px;
		.title {
			.padding-percentage(0.02);
			.rounded-corner-top(2px);
			border-bottom: 1px solid @black;
			span {
				font-weight: bold;
				font-size: @big-font;
			}
		}
		.contents { 
			span {
				display: block;
				background-color: lighten(@white,5%);
				.rounded-corner;
				padding: 5px;
			}
			.comment-input {
				width: 324px;
				height: 65px;
			}
			.padding-percentage(0.02);
			.formula {
				padding: 0;
				margin: 0;
			}
		}
		.buttons {
			.padding-percentage(0.02);
			padding-top: 0;
			bottom: 0;
			text-align: center;
			button { .inter-margin }
		}
	}
}

// PROFILE

.profile-page { 
	margin-top: 3%;
	text-align: center 
}

.profile-page .wrapper {
	display: inline-block;
	padding: 10px;
	background-color: @table-row-color;
	.rounded-corner;
	.border(1px,darken(@table-row-color,20%));
	
}

.profile-page .formula {
	vertical-align: top;
	padding: 0;
	margin: 0;
	display: inline-block;
	td { padding: 0; }
	max-width: 500px;
	.buttons { text-align: right }
}

.profile-page .gravatar {
	vertical-align: top;
	display: inline-block;
	padding: 2px 0 0 20px;
	img { 
		.rounded-corner;
		.border
	}
}

// LOGIN

#login {
	padding-top: 5%;
	.centered-div(260px);
	.logo {
		.background-image('logo-login.png');
		width: 100%;
		height: 58px;
	}
	.buttons { text-align: right }
}

// WIDGET PARTS

.page-header {
	position: relative;
	height: 24px;
	.padding-percentage(0.005);
	.header-color;
	button {
		.inter-margin(2px);
	}
	.search-box {
		margin-top: -0.1%;
		float: right;
		display: inline;
	}
	.title {
		width: 100%;
		left: 0;
		top: 30%;
		pointer-events: none;
		position: absolute;
		text-align: center;
		vertical-align: middle;
	}
	.gravatar {
		top: 2px;
		position: absolute;
		right: 2px;
		img { .rounded-corner }
	}
}

// APPLICATION HEADER

#header {
	width: 100%;
	height: 50px;
	position: relative;
	.header-color;
	.logo {
		position: absolute;
		width: 36px;
		height: 41px;
		top: 5px;
		left: 15px;
		.background-image('logo-header.png');
	}
	.menu {
		position: absolute;
		top: 14px;
		width: 100%;
		text-align: center;
		vertical-align: top;
		nav {
			display: inline-block;
			li { 
				z-index: 100;
				width: 160px;
				a { 
					display: block;
					width: 100%; 
				}
			}
			>ul { 
				display: inline-block;
				>li { 
					vertical-align: top;
					display: inline-block;
					position: relative;
					.inter-margin(0px);
					.navigation-top;
					>ul { display: none }
					&:hover { 
						>ul { 
							top: 23px;
							left: -1px;
							display: block;
							position: absolute;
							li { 
								.button;
								.navigation-dropdown;
							}
					 	} 
					}
				}
			}
		}
	}
	.icon-buttons {
		position: absolute;
		top: 20px;
		right: 15px;
		a { .inter-margin(2px) }
	}
}

// LOADING

div#loader {
	width: 100%;
	height: 100%;
	z-index: 99999999;
	position: fixed;
	display: none;
	.background-image("loading.gif");
	opacity: 0.5;
}

.loading #loader {
	display: block;
}

// HACKS, SPECIFICS, ETC

span.status { margin-left: 25px }


